body{
    font-family: "Droid Sans", sans-serif;
    background-color: rgb(225, 225, 225);
    color:black;
}
header{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    height: 150px;
    width: 100%;
    margin-top: 0px;
}

.secotion1{
    background-color: rgb(207, 207, 207);
    width: 100%;

}
.section2{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.section3{
    background-color: rgb(207, 207, 207);
    width: 100%;
}

.section4{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.section5{
    background-color: rgb(207, 207, 207);
    width: 100%;
}

.section6{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.section7{
    background-color: rgb(207, 207, 207);
    width: 100%;
}

.section8{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    }
    
    .left-column {
     flex: 1;
     padding: 10px;
    }    
    .right-column {
     flex: 1;
     padding: 10px;
    }

    .flex-container2, .flex-container3, .flex-container4, .flex-container5, .flex-container6, .flex-container7, .flex-container8, .flex-container9  {
        display: flex;
        flex-direction: row;
        }
        
        .left-column {
         flex: 1;
         padding: 10px;
        }    
        .right-column {
         flex: 1;
         padding: 10px;
        }