body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: width 2s, height 2s, background-color 2s;
}
#box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 5s;
    
}
#newbox {
    border: 1px solid;
    width: 150px;
    height: 150px;
    background-color: blue;
    transition: width 2s, height 2s, background-color 2s,rotate 2s;

}
#newbox:hover {
    background-color: pink;
    width: 250px;
    height: 250px;
    rotate: 180deg;
    
}

@keyframes box2move{

    0%{
        top: 0vh;
        left: 0vw;
    }
    25%{
        top: 0vh;
        left: 50vw;
    }
    50%{
        top: 50vh;
        left: 50vw;
    }
    75%{
        top: 50vh;
        left: 0vw;
    }
    100%{
        top: 0vh;
        left: 0vw;
    }
}