body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(73, 145, 161);
    font-family: droid sans-serif;
    font-size: 1.5em;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:30px;
    width: 700px;
    background-color: rgb(49, 154, 89);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: droid sans-serif;
    

}
img{

    padding-top: 20px;
    animation-name: imgmove;
    animation-duration: 5s;
    position: relative;
}




#red-ball{
    background-color: rgb(239, 149, 167);
    width: 20px;
    height:20px;
    border-radius: 50%;
    left:5vw;
    top:0;
    transition: all 0.3s ease;
    
}

h1{
    color:white;
    font-family: droid sans-serif;
    
}

#red-ball:hover{
    border-color: purple;
    transform: scale(1.2);
}

@keyframes imgmove{

    0%{
        top: 0vh;
        left: 0vw;
    }
    25%{
        top: 0vh;
        left: 50vw;
    }
    50%{
        top: 50vh;
        left: 50vw;
    }
    75%{
        top: 50vh;
        left: 0vw;
    }
    100%{
        top: 0vh;
        left: 0vw;
    }
}