.overlay1 {
    position: absolute;
    bottom: 0px;
    width: 80%; 
    text-align: center; 
}
  

.overlay1 .CBSLogo{
position: absolute;
width: 10px;
padding-left: 25px;
height: 10px;
display: inline-block;
text-align: center;

}

.overlay1 .Browns{
position: absolute;
width: 50px;
background-color: orange;
padding-left: 60px;
display: inline-block;
text-align: center;
}
.overlay1 .thirteen{
position: absolute;
background-color: orange;
width: 20px;
padding-left: 80px;
display: inline-block;
text-align: center;

}
.overlay1 .Steelers{
position: absolute;
width: 50px;
background-color: yellow;
padding-left: 130px;
display: inline-block;
text-align: center;

}
.overlay1 .Twentyone{
background-color: yellow;
width: 25px;
padding-left: 155px;
display: inline-block;
position: absolute;
text-align: center;
}
.overlay1 .Time{
background-color: gray;
width: 50px;
padding-left: 205px;
display: inline-block;
position: absolute;
text-align: center;


.overlay1 .Down{
background-color: yellow;
width: 150px;
padding-left: 355px;
display: inline-block;
position: absolute;
text-align: center;

}


.overlay2 .CBS{
position: top;
position: left;
display: inline-block;

}

h2{
    font-size: 12px;
}

.img{
    width: 10px;
    height:10px;
}


.team {
    width: auto; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    display: inline-block;
    text-align: center; /* Center text */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Make text bold */
  }
  
  .score {
    width: auto; /* Adjust width as needed */
    display: inline-block;
    text-align: center; /* Center text */
    font-size: 14px; /* Adjust font size as needed */
  }
  
  .time {
    width: 100px; /* Adjust width as needed */
    display: inline-block;
    text-align: center; /* Center text */
    font-size: 14px; /* Adjust font size as needed */
  }
 