
.overlay1 .CBSLogo {
  position: relative; 
  display: inline-block;
  margin-right: 10px; 
}

.overlay1 .Browns {
  display: inline-block;
  background-color: orange;
  margin-right: 10px; 
}

.overlay1 .thirteen {
  display: inline-block;
  background-color: orange;
  margin-right: 10px; 
}

.overlay1 .Steelers {
  display: inline-block;
  background-color: yellow;
  margin-right: 10px; 
}

.overlay1 .Twentyone {
  display: inline-block;
  background-color: yellow;
  margin-right: 10px; 
}

.overlay1 .Time {
  display: inline-block;
  background-color: gray;
  margin-right: 10px;
}

.overlay1 .Down {
  display: inline-block;
  background-color: yellow;
  margin-right: 10px; 
}



img {
  max-width: 100%; 
  display: block; 
  margin: auto; 
}

h2 {
  font-size: 12px;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
}


.overlay1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.overlay2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}


.overlay1 .CBSLogo,
.overlay1 .thirteen,
.overlay1 .Time {
  background-color: orange;
}


